body {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(111deg, rgba(255,255,255,1) 0%, rgba(29,90,253,1) 50%, rgba(0,0,255,1) 100%);
    background: -webkit-linear-gradient(111deg, rgba(255,255,255,1) 0%, rgba(29,90,253,1) 50%, rgba(0,0,255,1) 100%);
    background: linear-gradient(111deg, rgba(255,255,255,1) 0%, rgba(29,90,253,1) 50%, rgba(0,0,255,1) 100%);
    background-repeat: repeat;
}

h4 {
    color: #1b1ea0;
}

.logo {
    margin : 13px;
    max-width: 100vh;
}

.caixa {
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border-radius: 0 0 55px 55px;
    max-width: 100%;}

nav {
    padding: 5px;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 0 0 35px;
}

nav ul {
    text-align: center;
}

nav a {
    text-transform: uppercase;
    color: #0000f0;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li :hover {
    color: black;
    opacity: 0.8;
}

.merchan {
    color: rgb(20, 66, 196);
    background-color: rgb(255, 255, 255, 0.6);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    border-radius: 15px;
    padding: 2%;
    margin: 15px;
    margin-top: 15px;
    text-align: center;
}

.bio {
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
    padding: 2%;
    margin: 15px;
    margin-top: 15px;
    font-size: 35px;
    text-align: center;
}

.obs {
    color: rgb(255, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    background: rgb(255, 255, 255, 0.7);
    margin: 15px;
    border-radius: 15px;
    padding: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    display: center;
    text-align: center;
}

main ul li :hover img {
    width: 75px;
    height: 75px;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contatos {
    padding-top: 25px;
    display: inline-flex;
    position: static
}


ul li img {
    margin: 2px;
    width: 55px;
    height: 55px;
    padding-inline: 18px;

}

.text{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 15px;
    color: rgb(255,255,255,0.7);

}

footer {
    background-image: url(imagem-de-fundo-ruído-abstrato-preto-uso-para-textura-design-manipulação-fotos-181584925.jpg);
    padding-top: 10px;
    margin-top: 55px;
}

footer p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    color: rgb(255,255,255,0.2);
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-track {
    background: rgb(255,255,255,0.8);
}

::-webkit-scrollbar-thumb {
    background: #4f4fFF;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #4f4fFF;
}
